// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  .home-intro-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    background-image: url(image_path('brooklyn_bridge.jpg'));
    background-color: rgba(255, 166, 0, 0.425);
    background-blend-mode: soft-light;
    background-size: cover;
    height: 100vh;
 

    #profile-img {
        justify-self: center;
        align-self: center;
        width: 80%;
        transition: transform .5s;
        &:hover {
            transform: scale(1.1); 
          }
    }
    #search-img {
        justify-self: center;
        align-self: center;
        width: 80%;
        transition: transform .5s;
        &:hover {
            transform: scale(1.1); 
          }
    }
    #other-img {
        justify-self: center;
        align-self: center;
        width: 80%;
        transition: transform .5s;
        &:hover {
            transform: scale(1.1); 
          }
    }
  }
}
