// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  section {
    .home-intro-pics {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-around;
      background-color: rgb(255, 255, 255);
      background-image: url(image_path("brooklyn_bridge.jpg"));
      background-color: rgba(203, 190, 14, 0.411);
      background-blend-mode: soft-light;
      background-size: cover;
      height: 100vh;

      #profile-img {
        justify-self: center;
        align-self: center;
        width: 80%;
        transition: transform 0.5s;
        // display: inline-block;
        background:rgb(203, 190, 14);
        position: relative;
        #overlay1 {
          position: absolute;
          a {text-decoration: none;}
          h1 {
         
          color: yellow;
          height: 500px;
          &:hover {color: white;}}
         padding: 4rem;
          top: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          color: #fff;
          font-size: 5rem;
          //     opacity: 0;
          //     h2 {font-weight: bold;
        }
        //   }
        &:hover {
          transform: scale(1.05);
          #overlay1 {
            display: inline-block;
            h1 {font-size: 6rem;}
          }
          #img1 {
      
            display: block;
            width: 100%;
          }
          // #img1 {
          //   filter: blur(1px);
          //   display: block;
          //   width: 100%;
          //   opacity: 0.6;
          // }
          // #overlay1 {
          //   opacity: 1;
          // }
        }
      }
      #search-img {
        justify-self: center;
        align-self: center;
        width: 80%;
        transition: transform 0.5s;
        h1 {font-size: 0rem;}
        // display: inline-block;
        background:  rgb(203, 190, 14);
        #overlay2 {
          h1 {font-size: 0rem;}
          padding: 6rem;
          top: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          color: #fff;
          font-size: 0rem;
          }
        // }
        &:hover {
          transform: scale(1.05);
          #overlay2 {
            display: inline-block;
            h1 {font-size: 6rem;}
          }
          #img2 {
            opacity: 0.8;
            display: block;
            width: 100%;
          }

          //   #img2 {
          //     filter: blur(1px);
          //     display: block;
          //     width: 100%;
          //     opacity: 0.6;
          //   }
        }
      }
      #other-img {
        justify-self: center;
        align-self: center;
        width: 80%;
        transition: transform 0.5s;
        // display: inline-block;
        background: rgb(203, 190, 14);
        h2 {
          position: absolute;
          display: none;
        }
        #overlay3 {
          // position: absolute;
          padding: 6rem;
          top: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          color: #fff;
          font-size: 5rem;
          //     opacity: 0;
          //     h2 {font-weight: bold;
          //     }
        }
        &:hover {
          transform: scale(1.05);
          #overlay3 {
            display: inline-block;
          }
          #img3 {
            filter: blur(1px);
            display: block;
            width: 100%;
            // opacity: 0.6;
          }
          // #overlay3 {
          //   opacity: 1;
          // }
        }
      }
    }
    #other-links {
      background-color: rgb(236, 236, 236);
      height: 350px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 50px;
      font-variant: small-caps;
      font-family: Didot, serif;
      font-size: 3rem;
      color: black;

      div {
        align-self: center;
        justify-self: center;
      }
      #box1 {
        display: grid;
        grid-template-areas:
          1fr
          1fr;
        #box2 {
          border-left: thick solid #ff0000;
        }
        #friends-icon {
          align-self: end;
        }
      }
    }
  }
}

body {
  section {
    .about-us-grid {
      display: grid;
      grid-template-rows: 1fr 25vh 1fr;
      #about-us-top-pic {
        background-image: url(image_path("runner_ready.jpg"));
        height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        #about-us-top-pic-overlay {
          color: rgb(203, 190, 14);
          h1 {
            font-size: 3.5rem;
            font-weight: bold;
          }
          h2 {
            font-size: 1.5rem;
          }
          height: 70vh;
          display: grid;
          grid-template-columns: 1fr 1fr;
          #about-us-header-text {
            align-self: center;
            justify-self: center;
          }
        }
      }
      #about-us-our-mission {
        background: white;
        display: flex;
        justify-content: center;
        align-self: center;
      }
      #about-us-our-people {
        background: rgb(228, 228, 228);
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 350px 350px 350px;
        justify-content: center;
        grid-gap: 50px;
        #about-us-our-people-header {
          grid-area: 1 / 1 / 2 / 4;
          justify-self: center;
          align-self: center;
        }
        div {
          justify-self: center;
          align-self: center;
          background: blue;
        }
      }
    }
  }
}
