// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-body {
    background: rgba(203, 190, 14, 0.199);
    background-blend-mode: soft-light;
    background-image: url(image_path("individual_runner.jpg"));
    background-size: cover;
    background-image: center center;
    height: 100vh;

    section {
        color: black;
        .field-wrapper {
           
            display: grid;
            grid-template-columns: 50% 50%;
            height: 90vh;
            .runner-info-box {
                justify-self: center;
                align-self: center;
                padding: 50px;
                h3 {
                    font-size: 3rem;
                }
                img {
                    border-style: solid;
                    border-width: 2px;
                    height: 200px;
                }
                border-style: solid;
                border-width: 2px;
                background: rgb(192, 184, 77);
    
            }
            .actions {
                background: rgb(203, 190, 14);
            }
        }
        h2 {
            font-size: 2rem;
            text-align: center;
        }
        h1 {
            font-size: 3.5rem;
            text-align: center;
        }
        
}
}