<!DOCTYPE html>

<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <header>
      <%= render "layouts/header" %>
    </header>

    <section>
      <div class="about-us-grid">
        <div id="about-us-top-pic">
          <div id="about-us-top-pic-overlay">
            <div>...</div>

            <div id="about-us-header-text">
              <h1>Who We Are</h1>
              <h2>And why we do it</h2>
            </div>
          </div>
        </div>

        <div id="about-us-our-mission">This is a box where the mission will be set. Two sizes of font with the title and the body.</div>

        <div id="about-us-our-people">

            <section id="about-us-our-people-header">Our people</section>
            <div> 
                <img src="http://lorempixel.com/200/200" alt="">
            </div>
            <div> 
                    <img src="http://lorempixel.com/200/200" alt="">
            </div>
            <div> 
                    <img src="http://lorempixel.com/200/200" alt="">
            </div>

        </div>
      </div>
    </section>
    <footer>    <%= render "layouts/footer" %></footer>
  </body>
</html>
